.blue-container, footer{
    background: none;
}

body{
    background: linear-gradient(#0054FB,#00C2FF);
}

header{
    padding-bottom: 20%;
}

form div{
    text-align: left;
    margin-top: 30px;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
}

textarea, input{
    border-radius: 20px;
    color: #00C2FF;
    background: white;
    font-weight: 600;
}

.button, textarea{
    width: 100%;
}

div input{
    padding: 5px;
    width: 60%;
}

.button{
    margin-top: 30px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

label{
    display: block;
}

@media only screen and (min-width: 800px){
    header{
        padding-bottom: 10%;
    }

    form{
        width: 80%;
        margin: 0 auto 0;
    }
}

@media only screen and (min-width: 900px){
    .inline{
        display: inline-block;
        width: 45%;
        margin-right: 9%;
    }
    .inline:nth-child(2){
        margin-right: 0;
    }

    div input{
        padding: 5px;
        width: 100%;
    }
}


@media only screen and (min-width: 800px){
    header{
        padding-bottom: 5%;
    }

    form{
        width: 50%;
        margin-bottom: 7%;
    }
}